POSTGRES_DB=<YOUR_DATA>
POSTGRES_USER=<YOUR_DATA>
POSTGRES_PASSWORD=<YOUR_DATA>
POSTGRES_PORT=<YOUR_DATA>

MINIO_ROOT_USER=<YOUR_DATA>
MINIO_ROOT_PASSWORD=<YOUR_DATA>
MINIO_API_PORT=<YOUR_DATA>
MINIO_CONSOLE_PORT=<YOUR_DATA>
MINIO_BUCKET=<YOUR_DATA>

APP_PORT=<YOUR_DATA>

# Приложение (секреты)
SPRING_DATASOURCE_PASSWORD=<YOUR_DATA>
MINIO_ACCESS_KEY=<YOUR_DATA>
MINIO_SECRET_KEY=<YOUR_DATA>
